$background-color: hsl(0, 100%, 74%);
$claim-button: hsl(154, 59%, 51%);
$form-header: hsl(248, 32%, 49%);
$form-font: hsl(249, 10%, 26%);
$button-shadow: rgba(62, 60, 73, 0.2);
$form-footer-font: hsl(246, 25%, 77%);
$primary-font: hsl(0, 0%, 100%);
$primary-font-reduced: rgba(255, 255, 255, 0.85);

$font: "Poppins", sans-serif;
