@use "../util/" as u;

.form {
  background-color: u.$primary-font;
  border-radius: 0.5rem;
  box-shadow: 0 0.438rem u.$button-shadow;
  padding: 1.25rem 0;
  width: 100%;
  font-size: 0.875rem;

  &__input {
    border: 0.094rem solid u.$form-footer-font;
    border-radius: 0.375rem;
    color: u.$form-font;
    font-weight: 700;
    padding: 0.938rem;
    width: 90%;

    @include u.breakpoint(large) {
      padding: 1.25rem 1.25rem 1.25rem 1.563rem;
    }

    &:focus {
      outline: none;
      border-color: u.$form-header;
      transition: border-color 0.25s ease;

      &::placeholder {
        opacity: 50%;
      }
    }
  }

  &__error {
    border-color: u.$background-color;
    background-image: url(../../images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
    color: u.$background-color;

    &::placeholder {
      opacity: 0;
    }
  }

  &__alert {
    font-size: 80%;
    font-weight: 600;
    font-style: italic;
    width: 90%;
    color: u.$background-color;
    text-align: end;

    margin-top: -0.625rem;
  }

  &__footer {
    color: u.$form-footer-font;
    font-size: 0.688rem;
    width: 80%;

    span {
      color: u.$background-color;
      font-weight: 600;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.focus {
  animation: wiggle;
  animation-duration: 0.65s;
}

.invisible {
  display: none;
}

@keyframes wiggle {
  25% {
    transform: translateX(-0.125rem);
  }
  50% {
    transform: translateX(0.25rem);
  }
  75% {
    transform: translateX(-0.25rem);
  }
  100% {
    transform: translateX(0.125rem);
  }
}
