@use "../util/" as u;

*:not(.form__error) {
  transition: 1s ease;
}

body {
  background-color: u.$background-color;
  background-image: url(../images/bg-intro-mobile.png);
}

.intro {
  @include u.flexDisplay(1.25rem);
  min-height: 100%;
}

.sub {
  @include u.flexDisplay(1.563rem);
  &__form {
    @include u.flexDisplay(0.938rem);
  }
}
