@use "../util/" as u;

*:not(.form__error) {
  transition: 1s ease;
}

body {
  background-color: u.$background-color;
  background-image: url(../images/bg-intro-mobile.png);
}

.intro {
  @include u.flexDisplay(20px);
  min-height: 100%;
  //   gap: 20px;
}

.sub {
  @include u.flexDisplay(25px);

  &__form {
    @include u.flexDisplay(15px);
  }
}
