@use "../util/" as u;

body {
  color: u.$primary-font;
  font-family: u.$font;
  font-weight: 500;
  text-align: center;
}

.intro {
  line-height: 1.25;
  align-items: center;

  @include u.breakpoint(medium) {
    align-items: flex-start;
    text-align: left;
  }

  &__title {
    font-size: clamp(1.75rem, 2.8vw, 4.063rem);
    // font-size: 28px;
    // width: 300px;
    width: 90%;

    @include u.breakpoint(medium) {
      width: 75%;
    }

    // @include u.breakpoint(large) {
    //   width: 62%;
    // }
  }
  &__p {
    font-size: clamp(1rem, 1.15vw, 1.25rem);
    // font-size: 16px;
    // width: 325px;
    width: 95%;
    opacity: 85%;

    @include u.breakpoint(medium) {
      width: 85%;
    }
  }
}
